@import '@rainbow-me/rainbowkit/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  /* Slate-900 */
  --background-end-rgb: 2, 6, 23;
  /* Slate-950 */
}

@layer utilities {
  .glass-card {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  .glass-panel {
    background-color: rgba(24, 24, 27, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
  }

  .text-glow-green {
    text-shadow: 0 0 10px rgba(74, 222, 128, 0.5);
  }

  .text-glow-red {
    text-shadow: 0 0 10px rgba(248, 113, 113, 0.5);
  }

  .text-glow-blue {
    text-shadow: 0 0 10px rgba(96, 165, 250, 0.5);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom right,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb)),
      black);
  min-height: 100vh;
}